.register-card {
  max-width: 450px;
  padding: 2.5rem;
  margin: 0 auto;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.register-btn {
  width: 100%;
  background: #0067a5;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1.2rem;
}

.register-btn:hover {
  background: #00a99d;
}
